.gradient {
  background: linear-gradient(130deg,#000d1f,#0b165e,#ff0e56,#ffe70e);
  background-size: 220% 220%;
  background-attachment: fixed;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Created with https://animated-gradient-background-generator.netlify.app/ */